<!--Sharing dynamic content facebook-->
<button (click)="shareOverrideOGMeta()">Facebook Dyanmic Share</button>

<!-- Sharing static content facebook -->
<div class="btn-div">
  <div id="fb-root"></div>
  <div class="fb-share-button" data-href="https://social-share-angular.herokuapp.com/" data-layout="button_count">
  </div>
</div>

<!--Share for twitter-->
<div class="btn-div">
  <button>
    <a class="twitter-share-button" id="twitter-share1" target="__blank" [href]="hrefUrl">
      Tweet</a>
  </button>
</div>

<!--Generate new url for twitter share dynamically-->
<!-- <div class="btn-div">
  <button (click)="generate()">Generate New Url For Tweet</button>
</div> -->

<!--Generate new tweet button on click twitter api-->
<div class="btn-div">
  <button (click)="createTwitterBtn()">
    Create twitter button</button>
  <div>
    <h3>New Generated tweet button</h3>
    <div id="new-button-div"></div>
  </div>
</div>
<router-outlet></router-outlet>
