
<button (click)="shareOverrideOGMeta()">Share</button>
<div id="fb-root"></div>
  <div class="fb-share-button" data-href="https://social-share-angular.herokuapp.com/"
                data-layout="button_count"></div>


                <!-- <a class="twitter-share-button" target="__blank"
  href="https://twitter.com/intent/tweet?text=Hello%20world%20https://social-share-angular.herokuapp.com/">
Tweet</a> -->
<button (click)="tweet()" >Tweet</button>
<button  id="new-button"></button>
<!-- <a style="display: none;" id="tweet-btn" class="twitter-share-button" target="__blank"
  [href]="tweetUrl">
Tweet</a> -->
<router-outlet></router-outlet>